<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="bg-light col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h1>order page</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xol-xxl-12">
                    <label for="email" class="form-label">email id</label>
                    <input name="email" [(ngModel)]="email" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xol-xxl-12">
                    <label for="phone" class="form-label">phone number</label>
                    <input name="phone" [(ngModel)]="phone" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xol-xxl-12 text-center">
                    <a (click)="order()" class="btn btn-warning">order</a>
                </div>                </div>
        </div>
    </div>
</div>
