<div class="container ">
    <div class="row ">
        <div class="bg-light col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="bg-light col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h1>Sign up</h1>
                </div>
                <div class="bg-light col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="bg-light col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="gender" class="form-label">gender</label>
                    <input type="text" class="form-control">
                </div>
                <div class="bg-light col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="dob" class="form-label">Date of birth</label>
                    <input type="date" class="form-control">
                </div>
                <div class="bg-light col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="phone number" class="form-label">phone Number</label>
                    <input type="text" class="form-control">
                </div>
                <div class="bg-light col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="email" class="form-label">Email id</label>
                    <input type="text" class="form-control">
                </div>
                <div class="bg-light col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="password"class="form-label" >password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="bg-light col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="confirmpassword" class="form-label">confirm password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="bg-light col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a href="" class="btn btn-success  active" role="button"
                        aria-pressed="true">Sign up</a>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a href="" class="link-info">login here</a>
                </div>
            </div>
        </div>
    </div>
